footer { 
    background-color: #333333;
    color: #fff; ;
}

.footer-content{
    max-width: 13660px;
    margin: 0 auto;
    padding:  2.5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
}

.footer-menus {
    display: flex;
    gap: 4.375rem;
}

.footer-menu span{  
    color: #ededed;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1rem;
}

.footer-menu ul { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-menu li a:hover {
    text-decoration: underline;
}

.footer-newsletter { 
    display: flex;
    flex-direction: column;  
}

.footer-newsletter input{ 
    border-radius: 30px;
    border: none;
    color: #AAAAAA;
    padding: 12px 20px;
    width: 344px;
}

.footer-newsletter input:focus{
    outline: none;
    box-shadow: 0 0 0 2px #555555;
}
.footer-social span{
    display: block;
    margin-bottom: 16px;
}

.footer-social ul{ 
    display: flex;
    gap: 1.25rem;
}

.footer-social ul li a:hover img{
    filter: brightness(0) saturate(100%) invert(41%) sepia(87%) saturate(747%) hue-rotate(245deg) brightness(98%) contrast(101%);
}

.footer-copy{ 
    text-align: center;
    padding: 20px;
    border-top: #fff 1px solid;
    margin: 0 40px;
}